body {
    font-family: "Poppins", sans-serif;
}
.logo-imagen{
    width: 55px;
    height: 55px;
    top: 1742px;
    left: 105px;
    border-radius: 10px;
    margin-top: 38px;
    margin-bottom: 37px;
    color: #00000040;
}
.logo__title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-top: 50px;
    margin-left: 21px;
    border-color: #CCCCCC;
}
/*Línea de separación de secciones*/
.lineahoriz{
    width: 100%;
}