.logo{
    margin-top: 38px;
    margin-bottom: 37px;
    margin-left: 55px;
}
.logo__title{
    margin-top: 50px;
    margin-left: 21px;
}
.logo__text--footer{
    margin-top: 10px;
    margin-left: 70%;
}
.logo-post{
    margin-top: 35px;
    margin-left: 4%;
}
.logo__title--post{
    margin-left: 20px;
    margin-top: 5px;
}
.text__date--Nov{
    margin-top: 7px;
    margin-right: 50px;
}
.text__paragraph{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}