.logo__image{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.img-icon{
    width: 30px;
    height: 30px;
}
.logo__image--post{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.image__post{
    width: 580px;
    height: 270px;
    margin-bottom: 30px;
    border-radius: 15px;
    margin-left: 25%;
}
.image__r{
    width: 350px;
    height: 250px;
    border-radius: 10px;
}
.logo__r{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}