.logo__title{
    font-size: 20px;
    font-weight: 800;
    color: $color-black;
}
.title{
    font-size: 25px;
    font-weight: 600;
    color: $color-gray2;
}
.crate__title{
    font-size: 25px;
    margin-top: 40px;
    font-weight: 600;
    padding-top: 10px;
    text-align: left;
    margin-left: 10%;
    color: $color-white1;
    margin-right: 60%;
}
.logo__title--post{
    font-size: 20px;
    font-weight: 600;
}
.title__post{
    font-size: 25px;
    font-weight: 800;
    margin-left: 4%;
    margin-top: 70px;
}
.text__title{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 25px;
    margin-top: 25px;
}
.text__title--r{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.title__text--r{
    font-size: 25px;
    font-weight: 800;
    margin-right: 25%;
    margin-bottom: 15px;
}
.title__r--js{
    font-size: 25px;
    font-weight: 800;
    margin-right: 25%;
    margin-bottom: 20px;
}
.text__Subtitle--r{
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 15px;
}